$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Variables
$tools-bg: #d3d3d2;
$control-bg: #d3d3d2;
$separator: #9b9b9b;

.clearfix {
  clear: both;
}

.title-control {
  margin-top: 0;
  margin-bottom: 20px;
}

#site {
  padding: 0;
}

#control {
  background: $control-bg;
  border-right: 2px solid $separator;
  padding-top: 5px;
  padding-right: 2px;
}

#tools {
  background: $tools-bg;
  border-left: 2px solid $separator;
  padding-top: 5px;
}

#footer {
  position: absolute;
  bottom: 1px;
  opacity: 0.5;
}
