$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Bootstrap Angular JS
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

// Variables
$tools-bg: #f3f3f3;
$control-bg: #f3f3f3;
$split-color: #f3f3f3;

.glyphicon-chevron-left,
.glyphicon-chevron-right,
.glyphicon-chevron-up,
.glyphicon-chevron-down{
  color: #aaa;
}

.ui-splitbar {
  @include box-shadow(0px 0px 5px 0px rgba(50, 50, 50, 0.75));
  background: $split-color;
  & a {
    display: none;
  }
}

.clearfix {
  clear: both;
}

.separator {
  margin-bottom: 10px;
}

#site {
  padding: 0;
}

#control {
  background: $control-bg;
  padding: 5px 0;
  height: 100%;
  & .panel, & .panel-heading {
    border-radius: 0;
    border-right: 0;
    border-left: 0;
  }
}

#tools {
  background: $tools-bg;
  padding: 5px;
  height: 100%;
  & button {
    margin-bottom: 5px;
  }
}

#footer {
  position: fixed;
  bottom: 1px;
  opacity: 0.5;
}

.page {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.zone {
  cursor: move;
  &.image img {
    max-width: 100%;
    max-height: 100%;
  }
}

#content {
  background: url("../images/canevas.png") repeat;
  width: 100%;
  height: 100%;
}

// Configuration - Zone / Page
.bordureSolid{
  border-bottom: 3px solid black;
}

.bordureDotted{
  border-bottom: 3px dotted black;
}

.bordureDashed{
  border-bottom: 3px dashed black;
}

.bordureDouble{
  border-bottom: 3px double black;
}

.bordureGroovee{
  border-bottom: 3px groove black;
}

.bordureRidge{
  border-bottom: 3px ridge black;
}

.bordureInset{
  border-bottom: 3px inset black;
}

.bordureOutset{
  border-bottom: 3px outset black;
}

.textDecorationInherit{
  text-decoration: inherit;
}

.textDecorationUnderline{
  text-decoration: underline;
}

.textDecorationOverline{
  text-decoration: overline;
}

.textDecorationLine-through{
  text-decoration: line-through;
}

.textDecorationBlink{
  text-decoration: blink;
}

.alignLeft{
  text-align: left;
}

.alignCenter{
  text-align: center;
}

.alignRight{
  text-align: right;
}

.alignJusify{
  text-align: justify;
}

.textStyleObliqueLabel{
  font-style: oblique;
  font-weight: normal;
}

.textStyleItalicLabel{
  font-style: italic;
  font-weight: normal;
}

.textStyleBoldLabel{
  font-weight: bold;
}
