$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Bootstrap Angular JS
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

// Variables
$bg-conf: #3C3F41;

// Divers
.glyphicon-chevron-left,
.glyphicon-chevron-right,
.glyphicon-chevron-up,
.glyphicon-chevron-down{
  color: #aaa;
}

.ui-splitbar {
  @include box-shadow(0px 0px 5px 0px rgba(50, 50, 50, 0.75));
  background: $bg-conf;
  & a {
    display: none;
  }
}

.ui-layout-container.stretch {
  z-index: 1020;
  overflow: hidden;
}

.clearfix {
  clear: both;
}

.separator {
  margin-bottom: 10px;
  margin-top: 10px;
  border-image: linear-gradient(to right, transparent, $bg-conf, transparent) 20 20 20 20;
  border-top-style: solid;
  border-top-width: 1px;
}

.tooltip {
  & .tooltip-inner {
    background: rgba(0,0,0,0.9);
  }
  & .tooltip-arrow {
    border-right-color: rgba(0,0,0,0.9);
  }
}

// Structure

#site {
  padding: 0;
}

#control {
  background: $bg-conf;
  padding: 5px 0px 5px 5px;
  height: 100%;
  & .panel, & .panel-heading {
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 4px;
  }
  & #nameConf {
    & input {
      border-width: 1px;
      border-style: none;
      border-radius: 4px;
      padding: 2px;
      font-weight: bold;
      font-size: 1.2em;
    }
    & input:hover, & input:focus {
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.3);
      color: rgba(0,0,0,0.7);
    }
    & input:focus {
      font-weight: normal;
    }
  }
  & input[type=text], & textarea {
    width: 100%;
  }
}

#tools {
  background: $bg-conf;
  padding: 5px 5px 5px 0;
  height: 100%;
  & button {
    margin-bottom: 5px;
  }
}

#footer {
  position: fixed;
  bottom: 10px;
  & span {
    opacity: 0.5;
  }
  & button {
    opacity: 0.5;
  }
  & button:hover {
    opacity: 1;
  }
}

#content {
  cursor: pointer;
  & #canvas {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  & .zone {
    position: absolute;
    &.ui-draggable-dragging {
      cursor: move;
    }
    &.image img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  & #background {
    width: 100%;
    min-height: 100vh;
  }
  & .alert-container {
    position: fixed;
    width: 100%;
    z-index: 1000;
    & .alert {
      width: 300px;
      margin-top: 10px;
      margin-left: 20px;
    }
  }
}

.modal-backdrop {
  height: 100%;
}

// Configuration - Zone / Page
#borderStyleConf {
  & option[label=solid] {
    border-bottom: 3px solid black;
  }
  & option[label=dotted] {
    border-bottom: 3px dotted black;
  }
  & option[label=dashed] {
    border-bottom: 3px dashed black;
  }
  & option[label=double] {
    border-bottom: 3px double black;
  }
  & option[label=groovee] {
    border-bottom: 3px groove black;
  }
  & option[label=ridge] {
    border-bottom: 3px ridge black;
  }
  & option[label=inset] {
    border-bottom: 3px inset black;
  }
  & option[label=outset] {
    border-bottom: 3px outset black;
  }
}

#textDecorationConf {
  & option[label=underline] {
    text-decoration: underline;
  }
  & option[label=pverline] {
    text-decoration: overline;
  }
  & option[label=line-through] {
    text-decoration: line-through;
  }
  & option[label=blink] {
    text-decoration: blink;
  }
}

#alignConf {
  & option[label=left] {
    text-align: left;
  }
  & option[label=center] {
    text-align: center;
  }
  & option[label=right] {
    text-align: right;
  }
  & option[label=jusify] {
    text-align: justify;
  }
}

#textWeightConf {
  & .normalWeight {
    font-weight: normal;
  }
  & .boldWeight {
    font-weight: bold;
  }
}

#textStyleConf {
  & .normalStyle {
    font-style: normal;
    font-weight: normal;
  }
  & .italicStyle {
    font-style: italic;
    font-weight: normal;
  }
}

// Animation
.ng-animate-fade {
  opacity:1;
}
.ng-animate-fade.ng-enter {
  transition:0.1s linear all;
  opacity:0;
}
.ng-animate-fade.ng-enter.ng-enter-active {
  opacity:1;
}
.ng-animate-fade.ng-leave {
  transition:1s linear all;
  opacity:1;
}
.ng-animate-fade.ng-leave.ng-leave-active {
  opacity:0;
}


