<button class="control-collapse btn btn-default pull-right" ng-click="isCollapsed = !isCollapsed">
  <div ng-switch on="isCollapsed">
    <div ng-switch-when="true">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </div>
    <div ng-switch-default>
      <span class="glyphicon glyphicon-arrow-left"></span>
    </div>
  </div>
</button>
<div class="clearfix" collapse="isCollapsed">
  <accordion>
    <accordion-group heading="{{'Pages'|translate}}" is-open="true">
      <h4>Home</h4>
      <h4>Gallery</h4>
      <h4>Catalog</h4>
      <h4>About</h4>
    </accordion-group>
    <accordion-group heading="Configuration" is-disabled="!config">
      {{config.content}}
    </accordion-group>
  </accordion>
</div>

