<div id="background"
     ng-click="setSelected(background); $event.stopPropagation();"
     ng-style="{
      'background-color': background.backgroundColor,
      'background-image': background.backgroundImage=='none'?'':('url(' + background.backgroundImage + ')'),
      'background-repeat': background.backgroundRepeat
    }">
  <div id="canevas"
       ng-click="setSelected(canevas); $event.stopPropagation();"
       ng-style="{
      'width': canevas.width,
      'height': canevas.height,
      'background-color': canevas.backgroundColor,
      'background-image': canevas.backgroundImage=='none'?'':('url(' + canevas.backgroundImage + ')'),
      'background-repeat': canevas.backgroundRepeat,
      'border-width': canevas.borderWidth,
      'border-style': canevas.borderStyle,
      'border-color': canevas.borderColor
    }">
    <zone-text ng-repeat="zone in zones.text" ng-click="setSelected(zone); $event.stopPropagation();"></zone-text>
    <zone-image ng-repeat="zone in zones.image" ng-click="setSelected(zone); $event.stopPropagation();"></zone-image>
    <zone ng-repeat="zone in zones.zone" ng-click="setSelected(zone); $event.stopPropagation();"></zone>
  </div>
</div>
