<div id="background"
     ng-click="setSelected(background); $event.stopPropagation();"
     ng-style="{
      'background-color': background.backgroundColor,
      'background-image': background.backgroundImage=='none'?'':('url(' + background.backgroundImage + ')'),
      'background-repeat': background.backgroundRepeat
    }">
  <div id="canvas"
       ng-click="setSelected(canvas); $event.stopPropagation();"
       ng-style="{
      'width': canvas.width,
      'height': canvas.height,
      'background-color': canvas.backgroundColor,
      'background-image': canvas.backgroundImage=='none'?'':('url(' + canvas.backgroundImage + ')'),
      'background-repeat': canvas.backgroundRepeat,
      'border-width': canvas.borderWidth,
      'border-style': canvas.borderStyle,
      'border-color': canvas.borderColor
    }">
    <zone-text ng-repeat="zone in zones.text" ng-click="setSelected(zone); $event.stopPropagation();"></zone-text>
    <zone-image ng-repeat="zone in zones.image" ng-click="setSelected(zone); $event.stopPropagation();"></zone-image>
    <zone ng-repeat="zone in zones.zone" ng-click="setSelected(zone); $event.stopPropagation();"></zone>
  </div>
</div>
