<div class="col-md-2">
  <div class="row">
    <button class="btn btn-default" title="Save" ng-click="saveHandler()" translate>
      <span class="glyphicon glyphicon-floppy-disk"></span><span class="hidden" translate>Save</span>
    </button>
  </div>
  <div class="row">
    <button class="btn btn-default" title="Download" ng-click="downloadHandler()" translate>
      <span class="glyphicon glyphicon-save"></span><span class="hidden" translate>Download</span>
    </button>
  </div>
  <div class="separator"></div>
  <div class="row">
    <button class="btn btn-default" title="Add zone" ng-click="addZoneHandler()" translate>
      <span class="glyphicon glyphicon-pencil"></span><span class="hidden" translate>Add zone</span>
    </button>
  </div>
  <div class="row">
    <button class="btn btn-default" title="Add text zone" ng-click="addZoneTextHandler()" translate>
      <span class="glyphicon glyphicon-list-alt"></span><span class="hidden" translate>Add text zone</span>
    </button>
  </div>
  <div class="row">
    <button class="btn btn-default" title="Add picture" ng-click="addPictureHandler()" translate>
      <span class="glyphicon glyphicon-picture"></span><span class="hidden" translate>Add picture</span>
    </button>
  </div>
  <div class="row">
    <button class="btn btn-default" title="Add link" ng-click="addLinkHandler()" translate>
      <span class="glyphicon glyphicon-globe"></span><span class="hidden" translate>Add link</span>
    </button>
  </div>
</div>

