<div class="col-md-2">
  <div class="row">
    <button class="btn btn-default" tooltip-append-to-body="true" tooltip-placement="left" tooltip="{{'Save'|translate}}" ng-click="saveHandler()">
      <span class="glyphicon glyphicon-floppy-disk"></span><span class="hidden" translate>Save</span>
    </button>
  </div>
  <div class="row">
    <button class="btn btn-default" tooltip-append-to-body="true" tooltip-placement="left" tooltip="{{'Download'|translate}}" ng-click="downloadHandler()">
      <span class="glyphicon glyphicon-save"></span><span class="hidden" translate>Download</span>
    </button>
  </div>
  <div class="separator"></div>
  <div class="row">
    <button class="btn btn-default" tooltip-append-to-body="true" tooltip-placement="left" tooltip="{{'Add zone'|translate}}" ng-click="addZoneHandler()">
      <span class="glyphicon glyphicon-pencil"></span><span class="hidden" translate>Add zone</span>
    </button>
  </div>
  <div class="row">
    <button class="btn btn-default" tooltip-append-to-body="true" tooltip-placement="left" tooltip="{{'Add text zone'|translate}}" ng-click="addZoneTextHandler()">
      <span class="glyphicon glyphicon-list-alt"></span><span class="hidden" translate>Add text zone</span>
    </button>
  </div>
  <div class="row">
    <button class="btn btn-default" tooltip-append-to-body="true" tooltip-placement="left" tooltip="{{'Add picture'|translate}}" ng-click="addPictureHandler()">
      <span class="glyphicon glyphicon-picture"></span><span class="hidden" translate>Add picture</span>
    </button>
  </div>
  <div class="separator"></div>
  <div class="row">
    <button class="btn btn-default" tooltip-append-to-body="true" tooltip-placement="left" tooltip="{{'Add page'|translate}}" ng-click="addPageHandler()">
      <span class="glyphicon glyphicon-file"></span><span class="hidden" translate>Add page</span>
    </button>
  </div>
  <div class="row">
    <button class="btn btn-default" tooltip-append-to-body="true" tooltip-placement="left" tooltip="{{'Remove page'|translate}}" ng-click="removePageHandler()">
      <span class="glyphicon glyphicon-remove"></span><span class="hidden" translate>Remove page</span>
    </button>
  </div>
</div>

