<div id="tools" class="pull-right container" ng-style="style">
  <div class="col-md-2">
    <div class="row">
      <button class="btn btn-default save-button" title="Save" translate>
        <span class="glyphicon glyphicon-floppy-disk"></span><span class="hidden" translate>Save</span>
      </button>
    </div>
    <div class="row">
      <button class="btn btn-default" title="Add zone" translate>
        <span class="glyphicon glyphicon-pencil"></span><span class="hidden" translate>Add zone</span>
      </button>
    </div>
    <div class="row">
      <button class="btn btn-default" title="Add text zone" translate>
        <span class="glyphicon glyphicon-list-alt"></span><span class="hidden" translate>Add text zone</span>
      </button>
    </div>
    <div class="row">
      <button class="btn btn-default" title="Add picture" translate>
        <span class="glyphicon glyphicon-picture"></span><span class="hidden" translate>Add picture</span>
      </button>
    </div>
    <div class="row">
      <button class="btn btn-default" title="Add link" translate>
        <span class="glyphicon glyphicon-globe"></span><span class="hidden" translate>Add link</span>
      </button>
    </div>
    <div class="row fixed-bottom">
      <button class="btn btn-default" title="Download" translate>
        <span class="glyphicon glyphicon-save"></span><span class="hidden" translate>Download</span>
      </button>
    </div>
  </div>
</div>

