<div
  resizable data-resizable-containment="#canevas"
  draggable data-draggable-containment="#canevas"
  class="zone text"
  ng-attr-id="{{zone.id}}"
  ng-attr-title="{{zone.name}}"
  ng-style="{
    'position': 'absolute',
    'width': zone.width,
    'height': zone.height,
    'top': zone.top,
    'left': zone.left,
    'z-index': zone.depth,
    'background-color': zone.backgroundColor,
    'background-image': url(zone.backgroundImage),
    'border-width': zone.borderWidth,
    'border-style': zone.borderStyle,
    'border-color': zone.borderColor
  }"
  >
  <p
    ng-style="{
      'font-family': zone.font,
      'color': zone.color,
      'font-size': zone.size,
      'font-style': zone.style,
      'font-weight': zone.weight,
      'text-decoration': zone.decoration,
      'text-align': zone.align
    }"
    >
    {{zone.text}}
  </p>
</div>
