<div
  resizable data-resizable-containment="#canvas"
  draggable data-draggable-containment="#canvas"
  ng-model="zone"
  class="zone image"
  ng-attr-id="{{zone.id}}"
  ng-attr-title="{{zone.name}}"
  ng-style="{
    'width': zone.width,
    'height': zone.height,
    'top': zone.top,
    'left': zone.left,
    'z-index': zone.depth,
    'background-color': zone.backgroundColor,
    'border-width': zone.borderWidth,
    'border-style': zone.borderStyle,
    'border-color': zone.borderColor
  }"
  >
  <img
    ng-src="{{zone.imageFile}}"
    ng-attr-alt="{{zone.description}}"
    />
</div>
